.login-out-wrap{
  background: #ffffff no-repeat center;
  padding-top: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  .login-wrap {
    width: 500px;
    padding: 40px 20px 10px;
    border-radius: 10px;
    background: rgba(245, 245, 245, 1);
    margin: 0 auto 0;
  }
}