.info-wrap{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .info-item{
    width: 450px;
    min-width: 450px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .info-item-title{
    color: rgba(0, 0, 0, 0.85);;
    font-size: 14px;
    text-align: center;
  }
  .info-item-data{
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }
}