.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o, .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete{
  width: 32px!important;
  font-size: 32px!important;
}
.edit-wrap{
  .ant-form-item{
    margin-bottom: 5px;
  }
}