.goods-cate-choose{
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	.cate-choose-area{
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	}
	.cate-choose-label{
	  font-weight: bold;
	  color: #0083ff;
	  margin-right: 3px;
	}
	.cate-item{
	  padding: 0 3px;
	  border: 2px solid #1a1a1a;
	  margin: 0 3px 3px 0;
	  border-radius: 4px;
	  cursor: pointer;
	}
}
// 规格输入
.spec-input-wrap{
	flex: 1;
	.spec-input{
	  display: flex;
	  align-items: center;
		// margin-bottom: 10px;
		.img-wrap{
			width: 50px;
			height: 50px;
			display: block;
			display: flex;
			align-items: center;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	// .spec-label{
	//   width: 60px;
	//   min-width: 60px;
	// }
	.spec-item{
		display: flex;
		align-items: center;
		margin: 5px 0;
		img{
			width: 20px;
			height: 20px;
		}
		&:first{
			border: none;
		}
		span{
			padding: 0 10px;
			border-right: 1px solid #1a1a1a;
		}
	}
}