.upload-wrap{
	display: inline-block;
	height: 70px;
	.upload-button{
		width: 50px;
		height: 50px;
		display: flex; 
		align-items: center; 
		justify-content: space-around; 
		flex-direction: column; 
		border: 1px solid rgb(139, 192, 236);
		border-radius: 6px;
	}
	.show-list{
		display: flex;
		align-items: center;
		.show-image{
			width: 50px;
			height: 50px;
			border: 1px solid rgb(139, 192, 236);
			margin-right: 10px;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
}