
.table-header{
  padding: 10px 0 20px;
  width: 100%;
  .filter-wrap{
    float: left;
  }
  .common-handle{
	float: right;
	display: flex;
	align-items: center;
  }
}
.ant-table td { white-space: nowrap; }
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  white-space: nowrap;
}
.ant-table-body{
  &::-webkit-scrollbar{
    display: none;
  }
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 5px;
}
.ant-form{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ant-form-item{
  width: 450px;
}