<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="min-width:1326px;">
      <div id="root"></div>
  </body>
</html>
